.info-cont{
    display: flex;
    align-items: center;
    gap:1rem;
}

.coin-logo{
    width:4rem;
    height: 4rem;
}

.name-info{
    display: flex;
    flex-direction: column;
}

.coin-symbol{
    text-transform: uppercase;
    color: var(--white);
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
}

.coin-name{
    text-transform: capitalize;
    color:var(--grey);
    font-size: 1rem;
    margin: 0;
}

.chip-cont{
    display: flex;
    justify-content: flex-start;
    gap:1rem;
    align-items: center;
    margin: 2rem 0rem;
}

.price-chip {
    border: 2px solid var(--green);
    border-radius: 2rem;
    
    text-align: center;
    padding: 0.25rem 1.25rem;
    font-weight: 600;
    color: var(--green);
    font-size: 1rem;
    max-width: 3rem;
}

.price-chip:hover, .icon-chip:hover{
    background-color: var(--green);
    color: var(--white);
    transition: all 0.3s;
}


.icon-chip{
    border: 2px solid var(--green);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--green);
    font-size: 1rem;
}

.red{
    border: 2px solid var(--red); 
    color: var(--red) ;
}

.red:hover{
    background-color: var(--red);
    color: var(--white);
    transition: all 0.3s;
}

.coin-price{
    font-size: 1.2rem;
    font-weight: 600;
}

.market-val{
    color: var(--grey);
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap:0.3rem;
}


.market-val p{
    margin: 0;
}


.flex-grid-watch-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.list-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}


.list-row td{
    text-align: left;
    width: 18%;
}

.text-right p{
    color: var(--grey);
    text-align: center;
}


.info-cont{
    gap:1.5rem;
}
.flex-cont{
    display: flex;
   
    align-items: center;
    gap:1.5rem;
}

.td-mkt-mobile{
    display: none;
}

.coin-logo{
    width: 3.5rem;
    height: 3.5rem;
}

.watchlist-icon-list {
    padding: 0.5rem;
    display: block;
    color: var(--green);
    font-size: 2rem !important;
    margin-left: auto;
    border: 2px solid var(--green);
    border-radius: 3rem;
    font-weight: 600;
  }

  .watchlist-icon-red {
    color: var(--red);
    border: 2px solid var(--red);
  }

  .watchlist-icon-list:hover {
    background-color: var(--green);
    color: var(--white);
    transition: all 0.3s;
  }

  .icon-td{
    width: 8%;
  }


  @media only screen and (max-width:1000px) {
    
    .watchlist-icon-list{
        font-size: 1.2rem !important;
        padding: 0.2rem;
    }
    .icon-td{
        width: 5%;
    }
    
}



@media only screen and (max-width:900px) {
    .td-icon{
        display: none;
    }
    .list-row td{
        font-size: 0.8rem !important;
    }
    .coin-price{
        font-size: 1rem;
    }
    .price-chip,.coin-symbol,.coin-name{
        font-size: 0.8rem;
    }
   
    
}

 @media only screen and (max-width:750px) {
    .td-total-volume{
        display: none;
    }
    .coin-logo{
        width: 3rem;
        height: 3rem;
    }
}

@media only screen and (max-width:630px) {
    
    .td-mkt-dekstop{
        display: none;
    }
    .td-mkt-mobile{
        display: block;

    }
    .price-chip{
        font-size: 0.6rem;
        text-align: center;
        padding:0.25rem 0;
    }
    .coin-price{
        font-size: 0.8rem;
    }
}


@media only screen and (max-width:560px) {
    .td-1{
       width: 25% !important;
    }
    .td-2{
        width: 18% !important;
    }
    .td-3{
        width: 16% !important;
    }
    .coin-logo{
        width: 2rem;
        height: 2rem;
    }
    .coin-price,.coin-symbol,.coin-name{
        font-size: 0.6rem;
    }
}

@media only screen and (max-width:450px) {
    .info-cont{
        gap:0.5rem;
    }
    .td-1{
       width: 25% !important;
    }
    
    .td-3{
        width: 13% !important;
    }
    .coin-logo{
        width: 2rem;
        height: 2rem;
    }
    .coin-price,.coin-symbol,.coin-name{
        font-size: 0.6rem;
    }
}





