.grid-card{
    width: 300px;
    background-color: var(--darkgrey);
    border-radius: 0.75rem;
    padding: 1.5rem;
}

.grid-card:hover{
    border: 1px solid var(--green);
    transition: all 0.3s;
}

.grid-card-red:hover{
    border: 2px solid var(--red);
    transition: all 0.3s;
}

.info-cont{
    display: flex;
    align-items: center;
    gap:1rem;
}

.coin-logo{
    width:4rem;
    height: 4rem;
}

.name-info{
    display: flex;
    flex-direction: column;
}

.coin-symbol{
    text-transform: uppercase;
    color: var(--white);
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
}

.coin-name{
    text-transform: capitalize;
    color:var(--grey);
    font-size: 1rem;
    margin: 0;
}

.chip-cont{
    display: flex;
    justify-content: flex-start;
    gap:1rem;
    align-items: center;
    margin: 2rem 0rem;
}

.price-chip {
    border: 2px solid var(--green);
    border-radius: 2rem;
    
    text-align: center;
    padding: 0.25rem 1.25rem;
    font-weight: 600;
    color: var(--green);
    font-size: 1rem;
    max-width: 3rem;
}

.price-chip:hover, .icon-chip:hover{
    background-color: var(--green);
    color: var(--white);
    transition: all 0.3s;
}


.icon-chip{
    border: 2px solid var(--green);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--green);
    font-size: 1rem;
}

.red{
    border: 2px solid var(--red); 
    color: var(--red) ;
}

.red:hover{
    background-color: var(--red);
    color: var(--white);
    transition: all 0.3s;
}

.coin-price{
    font-size: 1.2rem;
    font-weight: 600;
}

.market-val{
    color: var(--grey);
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap:0.3rem;
}


.market-val p{
    margin: 0;
}