.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

table{
    width: 95%;
    display: block;
    margin: auto;
    margin-top: -2rem;

}

tr:nth-child(even){
    background-color: var(--darkgrey);
}

@media only screen and (max-width:450px) {
    table{
        width: 100%;
    }
}